<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/home.css" type="text/css" rel="stylesheet"/>
        <title>Google Oauth</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Google Oauth</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>Probably the best OAuth tutorials on the planet :)</p>
        </main>
    </body>
</html>
